.admin-analytics{
    width: 45rem;
    height: 30rem;
}

.admin-payment{
    width: 50rem;
    height: 20rem;
}

.admin-header{
    align-items: center;
}

.admin-dashboard__due-payments{
    display: flex;
    background-color: white;
    border-radius: 8px;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    align-items: center;
}

.due-payment__provider-img{
    height: 45px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.admin-payment-name{
    width: 15rem;
}

.admin-payment-price{
    width: 8rem;
}

.admin-payment-purpose{
    width: 20rem;
}

