

.care-rider-contener-1{
    width: 100%;
    height: 92vh;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.care-rider-contener-top-1 ,.care-rider-contener-bottom-1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.care-rider-contener-top-1 .care-rider-sub-top-1 {
    background-color: #c9c9c9;
    width: 30%;
    height: 50vh;
    border-radius: 10px;
    text-align: center;
}
#sup-scroll{
    overflow-y: scroll;

}
.care-rider-new-request-content-1{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 90%;
    height: 20%;
    border-radius: 5px;
    margin: auto;
    margin-bottom:10px;
    margin-top: 10px;
}
.care-rider-new-request-content-1 img{

    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-left: 5px;
}
.care-rider-new-request-content-details-1, .care-rider-request-details-head-htag-1{
    margin-left: 50px;
    padding:0;
    text-align: left;
    width: 68%;
    margin-top: 20px;
}
.care-rider-new-request-content-details-1 h3 ,.care-rider-request-details-head-htag-1 h3{
    margin-bottom:10px;

}
.care-rider-new-request-content-details-1 h3, .care-rider-request-details-head-htag-1 h3{
    margin: 0;
}
.care-rider-location-icon-1 .fa-map-marker-1 {
    margin-top:20px;
    font-size:30px;
}
.care-rider-sub-top-1 .care-rider-request-details-1{
    display: flex;
    width: 80%;
    height: 40vh;
    background-color: white;
    border-radius:5px;
    margin: auto;
    flex-direction: column;
}
.care-rider-sub-top-1 .care-rider-request-details-head-1{
    display: flex;
    flex-direction: row;
}
.care-rider-sub-top-1 .care-rider-request-details-1 img{
    width: 60px;
    height: 60px;
    margin-top: 15px;
    margin-left: 5px;
}
.care-rider-request-details-body-1{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    margin-left:20px;
}
.care-rider-request-details-body-1 h3{
    margin-left: 20px;
    margin-right: 20px;
}
.care-rider-request-details-body-1 .fa-map-marker-1{
    margin-top:20px;
    font-size:20px;
}
.care-rider-request-count-1{
    display: flex;
    flex-direction: column;
}
.care-rider-request-count-1 .care-rider-request-count-class-1{
    width: 70%;
    height: 16vh;
    background-color: white;
    border-radius:5px;
    margin: auto;
    margin-top:10px;
}
.care-ider-request-count-1 .care-rider-request-count-class-1  .care-rider-new-1{
    color:green;
    font-size: 30px;
    font-weight:bold;

}
.care-rider-request-count-1 .care-rider-request-count-class-1  .care-rider-all-1{
    color:red;
    font-size: 30px;
    font-weight:bold;

}
.care-rider-contener-bottom-1{
    margin-top:30px;

}
.care-rider-care-rider-contener-bottom-1 .care-rider-sub-analystic-1 , .care-rider-sub-map-1{
    height: 46vh;
    border-radius: 10px;
    text-align: center;
    background-color: #c9c9c9;

}
.care-rider-contener-bottom-1 .care-rider-sub-map-1{
    width: 64%;
    margin-left: 0;
}
.care-rider-contener-bottom-1 .care-rider-sub-analystic-1{
    width: 30%;
}
.care-rider-contener-bottom-1 .care-rider-sub-analystic-1 .care-rider-analystic-1{
    display:flex;
    flex-direction: column;
}
.care-rider-contener-bottom-1 .care-rider-sub-analystic-1 .care-rider-analystic-1 .care-rider-analystic-class-1{
    width: 70%;
    height: 16vh;
    background-color: white;
    border-radius:5px;
    margin: auto;
    margin-top:10px;
}
.care-rider-contener-bottom-1 .care-rider-sub-analystic-1.care-rider-analystic-1 .care-rider-analystic-class-1 img{
    width:100%;
    height: 100%;
}
.care-rider-contener-bottom-1 .care-rider-sub-analystic-1 .care-rider-analystic-1 .care-rider-analystic-class-1 p{
    margin: auto;
    margin: top 6px;
    margin-left: 10px;
    text-align: left;
}

.care-rider-mapouter-1 {
    position: relative;
    text-align: right;
    width: 800px;
    height: 250px;
    margin-left: 10px;
}

.care-rider-gmap_canvas-1 {
    position: relative;
    overflow: hidden;
    background: none !important;
    width: 800px;
    height: 250px;
    margin-left: 10px;

}

.care-rider-gmap_iframe-1 {

    width: 800px !important;
    height: 250px !important;
    margin-left: 100px;

}