.care-rider-profile-contener {
    background-color: #c9c9c9;
    width: 78%;
    height: 92vh;
    margin-left: 20%;
    border-radius: 5px;
    padding-top: 20px;

}

.care-rider-profile-profile-content {
    background-color: white;
    width: 94%;
    height: 84vh;
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

}
.care-rider-profile-content-head {
    display: flex;
    flex-direction: row;
    margin-top:30px;
    margin-left:60px;
    margin-bottom:40px;
}
.care-rider-profile-content-head img{
    width:200px;
    height:200px;
}
.tab
{
    tab-size: 2;
}
.care-rider-profile-content-head  h3{
    margin-top:100px;
    margin-left:100px;

}
.care-rider-profile-content-body{
    display: flex;
    flex-direction: row;
    margin-left: 80px;
}
.care-rifer-profile-content-body h3{
    width: 240px;
}
