.care-rider-analytics__top img{
    position: relative;
    left: 275px;
    width: 800px;
    height: 300px;
}
.care-rider-analytics__bottom img{
    position: relative;
    left: 250px;
    width: 800px;
    height: 300px;

}