

/*.consumer-dashboard-doctor__top__left{
    display: flex;
    background-color: #EFEEFD ;
    position: relative;
    left: 87px;
    top: 37px;
    width: 190px;
    height: 25px;
    border-radius: 5px;
}*/

/*.consumer-dashboard-doctor__top__center{
    display: flex;
    background-color: #EFEEFD ;
    position: relative;
    left: 400px;
    top: 11px;
    width: 190px;
    height: 25px;
    border-radius: 5px;
}*/

/*.consumer-dashboard-doctor__top__middle{
    display: flex;
    background-color: #EFEEFD ;
    position: relative;
    left: 725px;
    top: -13px;
    width: 115px;
    height: 25px;
    border-radius: 5px;
}*/


/*.consumer-dashboard-doctor__top__right{
    display: flex;
    background-color: #EFEEFD ;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    position: relative;
    left: 950px;
    bottom: 35px;
}*/
.consumer-dashboard-doctor__top__right p{
    display: flex;
    position: relative;
    top: 10px;
    left: 22px;
}
.consumer-dashboard-doctor__top__right img{
    display: flex;
    width: 20px;
    height: 20px;
    position: relative;
    left: 170px;
    bottom: 10px;
}


.doctor-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.doctor-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.doctor-card > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 2rem;padding-bottom: 1rem;
}

.doctor-card button {
    border: none;
    outline: none;
    background-color: var(--color-primary);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: #fff;
}

.doctor-card > div > div {
    width: 50%;
}

.doctor-card > div > div > p {
    align-items: center;
    width: 90%;
    margin: 0 auto;
}


.doctor-card > div > div > p > span {
    width: 50%;
}

.doctor-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.consumer-dashboard-doctor__bottom__center__data{
    background-color: #EFEEFD;
    width: 75%;
    margin-top: 0.5rem;
    border-radius: 8px;
}
.consumer-dashboard-doctor__bottom__center__data button{
    font-size: 1rem;
}