.pharmacy-neworders-advanceinfo
{
    background-color: #D9D9D9;
    height: 550px;
    width:700px;
    /*    width:1150px;*/
    margin-left: 300px;
    margin-top: 40px;
    border-radius: 1rem;
}


.pharmacy-neworders-advanceinfo__consumer-details
{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.5rem;

}


.consumer-profile-pic
{
    height: 70px;
    width:70px;
    border-radius: 5rem;
    margin-left: 4rem;
    margin-top: 1rem;

}


.consumer-details__details
{
    display:flex;
    flex-direction:column;
    margin-left: 80px;
    margin-top: 30px;


}


.pharmacy-neworders-advanceinfo__order-med-details
{
    display: flex;
    flex-direction: row;
}

.pharmacy-neworders-advanceinfo__order-med-details__names
{
    margin-left: 1cm;

}


.pharmacy-neworders-advanceinfo__order-med-details__names__name
{
    line-height: 2.5cm;
    font-weight: bold;
}


.pharmacy-neworders-advanceinfo__order-med-details__description
{
    margin-left:3cm ;
    margin-top: 1rem;
    line-height: 1cm;

}

.pharmacy-neworders-advanceinfo__order-med-details__description__description
{
    padding: 1rem;
    margin-right: 1rem;

}


.advance-info-submit-button
{
    background-color: #008DFF;
    color: white;
    border-radius: 8px;
    border:none;
    width: 170px;
    height: 40px;
    font-size: 1rem;
    margin-top:-20px;
    margin-left: 240px;
    cursor: pointer;
}