.services-pharmacy-dashboard-MedicinesList
{
    display: flex;
    flex-direction: row;
    margin-left: 500px;
    margin-top: -250px;
    padding: 0.7rem;
    background-color: white;
    border-radius: 0.6rem;
    width:850px;
    align-items: center;
    align-content: center;

}
#services-pharmacy-pharmacyName
{
    font-weight: bold;
    width: 12rem;
}

#services-pharmacy-MedicineImage img
{
    width:50px;
    height: 50px;
}

.services-pharmacy-attributes
{
    padding-left: 3rem;


}

.pharmacy-view-btn
{
    background-color: #008DFF;
    width: 3.2cm;
    height: 0.7cm;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    color: white;
}

.pharmacy-pres-upload-btn
{
    background-color: #008DFF;
    width: 3.6cm;
    height: 0.7cm;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    color: white;

}

.consumer-services-pharmacy-pharmacylist-Container
{
      display: flex;
    flex-direction: column;
    row-gap: 0.4cm;
    margin-top: 90px;

}


.consumer-services-pharmacy-pharmacyRequest-button
{
    background-color: #008DFF;
    width: 3.8cm;
    height: 0.8cm;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    margin-left: 1100px ;
    margin-top:-500px;
    color: white;
}

.consumer-services-pharmacy-pharmacyRequest-button a
{
    color: white;
}

.pharmacy-view-btn a
{
    color: white;
}