.consumer-dashboard-doctor{
    display: flex;
    flex-direction: column;
}
.consumer-dashboard-doctor-top{
    display: flex;
}
.consumer-dashboard-doctor-bottom{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 275px);
}
.consumer-dashboard-doctor__profile__details{
    display: flex;
    flex-direction: column;
}
.consumer-dashboard-doctor__profile__details img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
.consumer-dashboard-doctor_details{
    background-color: #D9D9D9;
}


























/*.consumer-dashboard-doctor__top{
    display: flex;
    justify-content: space-between;
}
.consumer-dashboard-doctor__top__left{
    background-color: #D9D9D9;
    position: relative;
    left: 87px;
    top: 37px;
    width: 370px;
    height: 42px;
    border-radius: 5px;
}
.consumer-dashboard-doctor__top__left p{
    color: #8E8E8E;
    position: relative;
    top: 10px;
    left: 22px;
}
.consumer-dashboard-doctor__top__left img{
    width: 20px;
    height: 20px;
    position: relative;
    left: 274px;
    bottom: 7px;
}
.consumer-dashboard-doctor__top__right{
    background-color: #D9D9D9;
    width: 300px;
    height: 42px;
    border-radius: 5px;
    position: relative;
    left: 800px;
    bottom: 5px;
}
.consumer-dashboard-doctor__top__right p{
    position: relative;
    top: 10px;
    left: 22px;
}
.consumer-dashboard-doctor__top__right img{
    width: 20px;
    height: 20px;
    position: relative;
    left: 230px;
    bottom: 6px;
}
.consumer-dashboard-doctor__bottom__left__data,.consumer-dashboard-doctor__bottom__center__data,.consumer-dashboard-doctor__bottom__right__data{
    background-color: #D9D9D9;
    position: relative;
    width: 287px;
    height: 132px;
    left: 109px;
    top: 27px;
    border-radius: 5px;

}
.consumer-dashboard-doctor__bottom__left img,.consumer-dashboard-doctor__bottom__center img,.consumer-dashboard-doctor__bottom__right img{
    position: relative;
    top: 10px;
    left: 175px;
    width: 158px;
    height: 148px;
    border-radius: 107px;
}
.consumer-dashboard-doctor__bottom__left__data h3,.consumer-dashboard-doctor__bottom__center__data h3,.consumer-dashboard-doctor__bottom__right h3{
    position: relative;
    left: 46px;
    top: 17px;
}
.consumer-dashboard-doctor__bottom__left__data h4,.consumer-dashboard-doctor__bottom__center__data h4,.consumer-dashboard-doctor__bottom__right h4{
    position: relative;
    top: 23px;
    left: 80px;
}
.consumer-dashboard-doctor__bottom__left__data button,.consumer-dashboard-doctor__bottom__center__data button,.consumer-dashboard-doctor__bottom__right button{
    cursor: pointer;
    border: none;
    color: white;
    font-size: 1rem;
    background-color: #008DFF;
    padding: 15px 32px;
    text-align: center;
    position: relative;
    left: 55px;
    top: 32px;
    border-radius: 5px;
}
.consumer-dashboard-doctor__bottom table{
    /*position: relative;
    left: -65px;
    border-spacing: 62px;
}*/