.consumer-services-pharmacy-dashboard-top
{
    display: flex;
    flex-direction: column;
}

.consumer-services-pharmacy-dashboard-profile
{
    display: flex;
    flex-direction: row;

}






.consumer-services-pharmacy-dashboard-profile-pic img
{
    height: 150px;
    width:150px;
    border-radius: 5rem;
    margin-left: 70px;
    margin-top: 25px;
}

.consumer-services-pharmacy-dashboard-profile-description
{

    margin-top: 180px;
    margin-left: -150px;
    padding: 1rem;

    background-color: #d9d9d9;
}

.consumer-services-pharmacy-dashboard-profile-description p
{
    text-align: center;

}


.pharmacy-dashboard-pharmacy-owner-name
{
    font-weight: bold;
    font-size: 25px;
}

.pharmacy-dashboard-pharmacy-address
{
    line-height: 1cm;
}



.services-pharmacy-attributes img
{
    width: 50px;
    height: 50px;
    margin-right: 100px;

}

.consumer-services-pharmacy-dashboard-medList
{

 /*   background-color: #d9d9d9;*/
    display: flex;
    flex-direction:row;
    margin-top: -40px;
    margin-left: 140px;
    padding-left: 1rem;


}

.services-pharmacy-dashboard-MedList__medicines
{
   display: flex;
    flex-direction:row;
    margin-left: -450px;
    margin-top: -140px;
    background-color: #d9d9d9;
    padding-block: 1rem;
}
