.consumer-dashboard-doctor-profile{
    display: flex;
    flex-direction: column;
}
.consumer-dashboard-doctor-profile{
    text-align: center;
    padding-block: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.consumer-dashboard-doctor-profile__top__right__timeslot{
    position: absolute;
    top: 64px;
    overflow: auto;
    height: 270px;
    width: 600px;
}
.consumer-dashboard-doctor-profile__top__left img{
    position: relative;
    left: 2px;
    /*top: 20px;*/
    width: 189px;
    height: 188px;
    border-radius: 82px;
}
.consumer-dashboard-doctor-profile__top__left__data{
    background-color: #EFEEFD ;
    position: relative;
    width: 410px;
    height: auto;
    border-radius: 8px;
    padding: 22px;
    margin-top: 18px;

}
.consumer-dashboard-doctor-profile__top__left__data h3{
    text-align: center;
    position: relative;
    top: 11px;
}
.consumer-dashboard-doctor-profile__top__left__data h4{
    text-align: center;
}
.consumer-dashboard-doctor-profile__top__left__data p{
    text-align: center;
    position: relative;
    top: 15px;
}
.consumer-dashboard-doctor-profile__top__right{
    background-color: #EFEEFD ;
    width: 658px;
    height: 452px;
    position: relative;
    border-radius: 8px;
}
.consumer-dashboard-doctor-profile__top__right h4{
    position: relative;
    left: -205px;
    top: 20px;
}
.consumer-dashboard-doctor-profile__top__right__dropdown input{
    position: absolute;
    left: 226px;
    top: 17px;
    width: 186px;
    height: 25px;
}
.consumer-dashboard-doctor-profile__top__right__timeslot p{
    position: relative;
    top: 45px;
    text-align: center;
    margin-bottom: 9px;
}
.consumer-dashboard-doctor-profile__top__right__location p{
    position: absolute;
    left: 177px;
    top: 353px;
}
.consumer-dashboard-doctor-profile__top__right__location__search{
    position: absolute;
    background-color: #ffffff;
    width: 245px;
    height: 21px;
    left: 305px;
    top: 352px;
}
.consumer-dashboard-doctor-profile__top__right__location__search i{
    width: 15px;
    height: 16px;
    position: relative;
    left: 210px;
    top: 3px;
}
.consumer-dashboard-doctor-profile__top__right_p{
    position: absolute;
    top: 403px;
    text-align: center;
    left: 30px;
}
.consumer-dashboard-doctor-profile__top__right button{
    position: absolute;
    font-size: 1rem;
    color: #ffffff;
    background-color: #00005C;
    padding: 15px 32px;
    border: none;
    margin-top: 6rem;
    border-radius: 5px;
    cursor: pointer;
    left: 443px;
    top: 292px;
}
.consumer-dashboard-doctor-profile__top table{
    border-spacing: 55px;
}
.consumer-dashboard-doctor-profile__bottom{
    position: relative;
    width: 1117px;
    height: 475px;
    background-color: #EFEEFD;
    left: 0;
    bottom: 25px;
    border-radius: 8px;
}
.consumer-dashboard-doctor-profile__bottom__left__data{
    background-color: #ffffff;
    width: auto;
    height: auto;
    position: relative;
    left: 0;
    bottom: 0;
    border-radius: 5px;
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 20px;
}
.consumer-dashboard-doctor-profile__bottom__left__data img{
    width: 30px;
    height: 30px;
    position: relative;
    left: -200px;
    top: 10px;
    border-radius: 24px;
}
.consumer-dashboard-doctor-profile__bottom__left__data h3{
    position: relative;
    left: -100px;
    bottom: 20px;
}
.consumer-dashboard-doctor-profile__bottom__left__data h4{
    position: relative;
    left: 100px;
    bottom: 40px;
}
.consumer-dashboard-doctor-profile__bottom__left__data p{
    position: relative;
    left: 2px;
    top: -24px;
    text-align: justify;
}
.consumer-dashboard-doctor-profile__bottom__right button{
    background-color: #00005C;
    color: #ffff;
    font-size: 1rem;
    position: relative;
    top: 20px;
    left: 10px;
    alignment: center;
    border: none;
    padding: 10px 56px;
    border-radius: 5px;
    cursor: pointer;
}
.consumer-dashboard-doctor-profile__bottom__right{
    position: absolute;
    top: 50px;
    left: 525px;
}
.doctor-feedback{
    margin-top: 10px;
    padding: 10px;
    width: 500px;
    height: 300px;
    border: none;
    vertical-align: center;
}
.consumer-dashboard-doctor-profile__bottom table{
    border-spacing: 50px;
}
.consumer-dashboard-doctor-profile__bottom__left{
    overflow: auto;
    overflow-x: hidden;
    height: 370px;
    width: 500px;
}
