.consumer-pharmacy-neworders-advanceinfo
{
    background-color: #D9D9D9;
    height: 550px;
    width:800px;
    /*    width:1150px;*/
    margin-left: 300px;
    margin-top: 40px;
    border-radius: 1rem;
    padding-top: 3rem;
}


.consumer-pharmacy-neworders-advanceinfo-pharmacyName
{
    font-weight: bold;
    margin-left: 40px;
    font-size: 25px;
}



.consumer-pharmacy-neworders-advanceinfo__consumer-details
{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.5rem;

}


.consumer-profile-pic
{
    height: 70px;
    width:70px;
    border-radius: 5rem;
    margin-left: 4rem;
    margin-top: 1rem;

}


.consumer-details__details
{
    display:flex;
    flex-direction:column;
    margin-left: 80px;
    margin-top: 30px;


}


.consumer-pharmacy-neworders-advanceinfo__order-med-details
{
    display: flex;
    flex-direction: row;
}

.consumer-pharmacy-neworders-advanceinfo__order-med-details__names
{
    margin-left: 1cm;


}


.consumer-pharmacy-neworders-advanceinfo__order-med-details__names__availableMedList
{
    font-weight: bold;
    margin-top: 25px;
    width: 5cm;

}

.consumer-pharmacy-neworders-advanceinfo__order-med-details__names__AdvanceAmount
{
    font-weight: bold;
    margin-top:10px;


}

.consumer-pharmacy-neworders-advanceinfo__order-med-details__names__TotalAmount
{
    font-weight: bold;
    margin-top: 90px;

}

.consumer-pharmacy-neworders-advanceinfo__order-med-details__names__Note
{
    font-weight: bold;
    margin-top: 10px;

}


.consumer-pharmacy-neworders-advanceinfo__order-med-details__description
{
    margin-left:5cm ;
    margin-top: 1rem;
    padding-block: 0.5rem;


}

.consumer-pharmacy-neworders-advanceinfo__order-med-details__description__TotalAmount
{
    padding-inline: 3rem;
    margin-right: 17rem;
    background-color: #ffffff;
   /* margin-bottom: 0.5rem;*/
    margin-top: 1rem;
    align-content: center;

}

.consumer-pharmacy-neworders-advanceinfo__order-med-details__description__AdvanceAmount
{
    padding-inline:3rem;
    margin-right: 17rem;
    background-color: #ffffff;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.consumer-pharmacy-neworders-advanceinfo__order-med-details__description__medicineList
{
    padding-inline: 3rem;
    margin-right: 5rem;
    background-color: #ffffff;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.consumer-pharmacy-neworders-advanceinfo__order-med-details__description__Note
{


    padding-inline: 3rem;
    background-color: #ffffff;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-right: 3rem;
}




.advance-info-submit-button
{
    background-color: #00005C;
    color: white;
    border-radius: 8px;
    border:none;
    width: 170px;
    height: 40px;
    font-size: 1rem;
    margin-top: 70px;
    margin-left: 250px;
    cursor: pointer;
}

.advance-info-submit-button a {
    color: #fff;
}


.advance-info-submit-button a:visited {
    color: #fff;
}