.contact-us-container{
    background-color: #EFEEFD;
    margin:8rem 9rem;
    border-radius: 8px;
    text-align: center;
    padding: 2rem;
}

.contact-us-container h1{
    color: #00005C;
    margin-bottom: 0.5rem;
}

.contact-us-container h3{
    color: #00005C;
}

.contact-us-sections{
    display: flex;
    margin: 2rem;
}

.contact-us-container__details{
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    padding: 2rem;
    width: 20rem;
}

.contact-us-container__details a{
    color: black;
}

.contact-us-icon{
    color: #00005C;
    margin-bottom: 1rem;
    font-size: 2rem;

}