
/*.doctor-appointments_container div{
    display: grid;
}*/
.doctor-appointments_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding-block: 0.5rem;
}
.doctor-appointments__left__container{
    background-color: #d9d9d9;
    gap: 0.5rem;
    text-align: justify;
    padding-block: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 1rem;
    flex-direction: column;
}
.doctor-appointments__left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    margin-bottom: 1rem;
    background-color: #ffF;
    border-radius: 0.5rem;
    width: 75%;
    padding: 0.5rem .5rem;
}
.doctor-appointments__left__data{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem .5rem;
}
/*.doctor-appointments__left table{
    margin-top: 5px;
    margin-left: 5px;
}
.doctor-appointments__left th{
    height: 30px;
}
.doctor-appointments__right__top{
    background-color: #D9D9D9;

}
.doctor-appointments__right__bottom{
    background-color: #D9D9D9;
}*/


.doctor-appointments__left__data img{
    width: 35px;
    height: 35px;
    border-radius: 15px;
    margin-top: 5px;
    margin-left: 5px;
}
.doctor-appointments__left__data button{
    border-color: white;
    color: white;
    height: 30px;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 40px;
    font-size: 1rem;
}
