.doctor-timeslots tr,th{
    border-color: white;
}
.doctor-timeslots tr{
    height: 35px;
}
.items-table__scroll{
    margin: auto;
    overflow: auto;
    height: 350px;
    width: 1200px;
}

.timeslots-form{
    background-color: #EFEEFD;
    width: 85%;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    padding-top: 8px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timeslots-form input {
    margin-block: 20px;
    border: none;
    padding-block: 5px;
    background-color: transparent;
    border-bottom: 2px black dotted;
    width: 140px;
    padding-left: 10px;
}

.timeslots-form label {
    font-weight: bold;
}

.timeslots-form table {
    width: 95%;
    text-align: center;
    padding-block: 10px;
}
.not-verified-doctor-timeslot{
    color: red;
    display: flex;
    background-color: #EFEEFD;
    margin-top: 4rem;
    margin-left: 3rem;
    width: 90%;
    height: 10rem;
}
.not-verified-doctor-timeslot h2{
    display: flex;
    margin-left: 25rem;
    margin-top: 4rem;
}