.landing-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
}

.landing-header-title {
  font-family: "Elsie", cursive;
  color: #1400ff;
  font-weight: lighter;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  font-size: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.landing-header-brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.landing-header-logo img {
    width: 50px;
    height: 50px;
}

.background-img {
  background-image: linear-gradient(
      #fff 50px,
      rgba(255, 255, 255, 0.5) 5%,
      rgba(0, 0, 0, 0.4) 20%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("/assets/images/landing.jpg");
  width: 100%;
  height: calc(100vh);
  backdrop-filter: blur(2px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 15rem;
  position: relative;
}

.background-img button {
  color: white;
  background-color: #030246;
  padding-inline: 4rem;
  padding-block: 1rem;
  margin-top: 5rem;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.3);
}

.background-img button a{
  text-decoration: none;
  color: white;
}

.background-img button:hover {
  background-color: #3e0089;
  transform: translateY(-2px);
}

.intro {
  font-size: 4rem;
}

.intro h6 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.login-link {
  text-decoration: none;
  padding: 0.5rem 1.2rem;
  background-color: #030246;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.landing-dashboard-header__title {
  font-family: "Elsie", cursive;
  color: #1400ff;
  font-weight: lighter;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  font-size: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.brand {
  display: flex;
  align-items: center;
}

.testimony {
  text-align: center;
}

.testimony h2 {
  padding-top: 6rem;
  font-size: 2rem;
}

.testimony p:nth-child(2) {
  padding-block: 3.5rem;
  padding-inline: 12rem;
}

.services {
  display: flex;
  position: relative;
  justify-content: center;
}

.services-cat {
  background-color: #f3f2ff;
  width: 250px;
  height: 400px;
  margin-block: 3.5rem;
  margin-inline: 2rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.1);
}

.services-cat img {
  padding-block: 1rem;
  width: 200px;
  height: 180px;
}

.description {
  text-align: justify;
  padding: 1.2rem;
  font-size: 1rem;
}

footer {
  padding-block: 5rem;
  background-color: #524e4e;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

footer a {
  color: white;
  text-decoration: none;
}
