.pharmacy-neworders{

    background-color: #D9D9D9;
    height: 550px;
/*    width:1150px;*/
    margin-left: 65px;
    margin-top: 40px;
    border-radius: 1rem;
    display:flex;
    flex-direction: row;


}


.pharmacy-neworders-blocks
{
    background-color: #ffffff;
    height: 360px ;
    width: 250px ;
    margin-left: 100px;
    margin-top: 60px;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;

}

.pres_img
{
    width: 150px;
    height: 180px;
    margin-top: 10px;
    margin-left: 50px;

}

.prescription_title
{
    margin-left: 30px;
}

.adinfo-btn
{
    background-color: #008DFF;
    color: #ffffff;
    height: 0.8cm;
    width:4cm ;
    margin-left:50px;
    margin-top: 10px;
    border: none;
    border-radius: 0.5rem;
}

.prescription_title
{

}

.consumer-profile
{
    height: 70px;
    width:70px;
    border-radius: 5rem;
    margin-left: 1rem;
    margin-top: 1rem;
}


.consumer-details__identity
{
    display:flex;
    flex-direction:column;
    margin-top: 25px;
    margin-left: 20px;
}

.pharmacy-neworders-blocks__consumer-details
{
    display: flex;
    flex-direction: row;
}


.pharmacy-neworders-advanceinfo
{
    background-color: #D9D9D9;
    height: 550px;
    width:700px;
    /*    width:1150px;*/
    margin-left: 300px;
    margin-top: 40px;
    border-radius: 1rem;
}

.consumer-profile-pic
{
    height: 70px;
    width:70px;
    border-radius: 5rem;
    margin-left: 4rem;
    margin-top: 1rem;

}

.consumer-details__details
{
    display:flex;
    flex-direction:column;
    margin-left: 80px;
    margin-top: 30px;


}







.pharmacy-neworders-advanceinfo
{
    display: flex;
    flex-direction: column;
}

.pharmacy-neworders-advanceinfo__consumer-details
{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.5rem;

}

.consumer-details__details__name
{
   font-weight: bold;

}

.pharmacy-neworders-advanceinfo__order-med-details
{
    display: flex;
    flex-direction: row;
}

.pharmacy-neworders-advanceinfo__order-med-details__description
{
     margin-left:3cm ;
    margin-top: 1rem;
    line-height: 1cm;

}

.pharmacy-neworders-advanceinfo__order-med-details__description__description
{
    padding: 1rem;
    margin-right: 1rem;

}

.pharmacy-neworders-advanceinfo__order-med-details__names
{
   margin-left: 1cm;

}

.pharmacy-neworders-advanceinfo__order-med-details__names__name
{
    line-height: 2.5cm;
}

.advance-info-submit-button
{
    background-color: #008DFF;
    color: white;
    border-radius: 8px;
    border:none;
    width: 170px;
    height: 40px;
    font-size: 1rem;
    margin-top:-20px;
    margin-left: 240px;
    cursor: pointer;
}