.pharmacy-neworders{

    background-color: #EFEEFD;
    height: 550px;
    margin:40px 9rem;
    border-radius: 1rem;
    display:flex;
    flex-direction: row;



}


.pharmacy-neworders-blocks
{
    background-color: #ffffff;
    height: 360px ;
    width: 250px ;
    margin-top: 60px;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    margin-left: 50px;

}
.pharmacy-neworders-main-block
{
    margin:auto;
    display: flex;
    gap: 1rem;
    flex-direction: row;

}

.pres_img
{
    width: 150px;
    height: 180px;
    margin-top: 10px;
    margin-left: 50px;
    cursor: pointer;

    /*object-fit: cover;*/
    transition: .2s linear ;


}

.pres_img:hover
{
    transform: scale(1.1);
}

.popup_image{
    display: none;
}
.popup_image img{
    position: absolute;
    /*margin-left: -130px;*/
    /*margin-top: 50px;*/
    margin-top: 160px;
    margin-left: -130px;
    transform: translate(-50%,-50%);
    /*border-radius: 1rem;*/
    /*object-fit: cover;*/
    width: 500px;
    height: 500px;


    /*background-color: rgba(0,0,0,.9);*/
    /*z-index: 100;*/
}


.popup_image span{
    position: absolute;
    margin-top:-50px;
    margin-left: 135px;
    font-size: 40px;
    font-weight: bolder;
    color: black;
    cursor: pointer;
}



.zoomed_pres_image{
    width: 1500px;
    height:800px;

}




.prescription_title
{
    margin-left: 30px;
}

.adinfo-btn
{
    background-color: #00005C;
    color: #ffffff;
    height: 0.8cm;
    width:4cm ;
    margin-left:50px;
    margin-top: 10px;
    border: none;
    border-radius: 0.5rem;
}

.prescription_title
{

}

.consumer-profile
{
    height: 70px;
    width:70px;
    border-radius: 5rem;
    margin-left: 1rem;
    margin-top: 1rem;
}


.consumer-details__identity
{
    display:flex;
    flex-direction:column;
    margin-top: 25px;
    margin-left: 20px;
}

.pharmacy-neworders-blocks__consumer-details
{
    display: flex;
    flex-direction: row;
}


.pharmacy-neworders-advanceinfo
{
    background-color: #EFEEFD;
    /*height: 550px;*/
    width:700px;
    /*    width:1150px;*/
    margin-left: 300px;
    margin-top: 40px;
    border-radius: 1rem;
}

.consumer-profile-pic
{
    height: 70px;
    width:70px;
    border-radius: 5rem;
    margin-left: 4rem;
    margin-top: 1rem;

}

.consumer-details__details
{
    display:flex;
    flex-direction:column;
    margin-left: 80px;
    margin-top: 30px;


}

.pharmacy-neworders-advanceinfo
{
    display: flex;
    flex-direction: column;
    width: 800px;
    background-color:#EFEEFD;
}

.pharmacy-neworders-advanceinfo__consumer-details
{
    display: flex;
    flex-direction: row;
    /*background-color: #ffffff;*/

    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.5rem;

}

.consumer-details__details__name
{
   font-weight: bold;
    font-size: 25px;
    margin-bottom: 12px;
}

.pharmacy-neworders-advanceinfo__order-med-details
{
    display: flex;
    flex-direction: row;
    margin: 2rem;
    background-color: white;
    border-radius: 8px;
    padding: 2rem;
}

.pharmacy-neworders-advanceinfo__order-med-details__description
{
    margin-left:5cm ;
    margin-top: 1rem;
    padding-block: 0.5rem;

}

.pharmacy-neworders-advanceinfo__order-med-details__description__medicinesList
{
    border-radius: 8px;
}

.pharmacy-neworders-advanceinfo__order-med-details__description__Note
{
    /*padding:1rem 3rem;*/
}

.pharmacy-neworders-advanceinfo__order-med-details__description__AdvanceAmount
{
    margin-right: 17rem;
    background-color: #ffffff;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 8px;


}
.pharmacy-neworders-advanceinfo__order-med-details__description__TotalAmount
{
    border-radius: 8px;
    margin-right: 17rem;
    background-color: #ffffff;
    margin-top: 1rem;
    align-content: center;

}

.pharmacy-neworders-advanceinfo__order-med-details__names
{
    margin-left: 1cm;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.pharmacy-neworders-advanceinfo__order-med-details__names__availableMedList
{
    font-weight: bold;
    margin-top: 25px;
    width: 5cm;
}

.pharmacy-neworders-advanceinfo__order-med-details__names__AdvanceAmount
{
    font-weight: bold;
    margin-top:10px;
}

.pharmacy-neworders-advanceinfo__order-med-details__names__TotalAmount
{
    font-weight: bold;
    margin-top: 10px;
}

.pharmacy-neworders-advanceinfo__order-med-details__names__Note{
    font-weight: bold;
    margin-top: 10px;
}

.advance-info-submit-button
{
    background-color: #00005C;
    color: white;
    border-radius: 8px;
    border:none;
    width: 170px;
    height: 40px;
    font-size: 1rem;
    cursor: pointer;
}

.consumer-details__identity__consumer-name
{
    font-weight: bold;
}


.adinfo-btn a
{
    color: white;
}

.neworders-advanceinfo-submit-form{
    background-color: #EFEEFD;
}

