.provider-login-form {
  font-family: "Roboto", sans-serif;
  font-weight: inherit;
  font-size: 1rem;
  width: 65%;
  margin-top: 20px;
  border-radius: 15px;
  padding: 2rem 3rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 0.2rem 1.5rem rgb(0 0 0 / 10%);
}

.login-form__header {
  color: #222;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.login-form {
  display: flex;
  height: calc(100vh);
  overflow: hidden;
}

.login-logo {
  width: 80px;
  aspect-ratio: 1;
  object-fit: cover;
}

.login-form__right {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-form__left {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-slide-container {
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-wrap: wrap;
  flex-direction: column;
}

.login-slide {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.login-slide::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
  );
  /*backdrop-filter: invert();*/
}

.login-slide__img {
  width: 50vw;
  height: 100vh;
  object-fit: cover;
}

.text-login {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.reg-section {
  font-weight: bolder;
  cursor: pointer;
}

.login-btn {
  margin-top: 40px;
}

.provider-login-form__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remember-me {
  display: flex;
  gap: 0.5rem;
}

.remember-me input {
  width: 1.2rem;
  height: 1.2rem;
}

.login-to-register{
  display: flex;
  gap: 1rem;
}