.form-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-input__label {
    font-weight: 600;
    width: 100%;
}

.form-input__input {
    border-radius: 5px;
    width: 100%;
    margin-top: 3px;
    padding:1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-inline: 1rem;
    height: 2.5rem;
    outline: transparent 2px solid;
    transition: 0.2s all ease-in-out;
}


.form-input__textarea{
    border-radius: 5px;
    width: 100%;
    margin-top: 3px;
    padding:1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-inline: 1rem;
    outline: transparent 2px solid;
    transition: 0.2s all ease-in-out;
}

.form-input__input:focus, .form-input__textarea:focus{
    outline: var(--color-primary) 2px solid;
    border: 1px solid transparent;
}


.form-input sup {
    color: red;
}



.form-upload-component{
    display: flex;
    align-items: center;
}

.form-item--search{
    margin: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.search-bar{
    align-items: center;
    gap: 0.5rem;
    display: flex;
}

.form-item--search input{
    padding: 0.4rem 1rem;
    font-size: 1rem;
    width: 20rem;
    border-radius: 5px;
}

.form-item--search svg {
    font-size: 1.5rem;
}

.form-item--search button{
    border: none;
    outline: none;
    background-color: transparent;
}

.form-items--dropdown{
    width: 18rem;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
}