.dashboard-container{
    width: 100vw;
    height: calc(100vh - 112.6px);
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 1fr;
}

.dashboard-content{
    overflow-y: auto;
    height: 100%;
}

.dashboard-header {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-inline: 2rem;
    align-items: center;
}

.dashboard-header__logo img {
    width: 55px;
    height: 55px;
    padding: 5px;
    margin-left: 15px;
}

.dashboard-dashboard-header__title {
<<<<<<< HEAD
    color: #0002A1;
=======
    color: #00005C;
    font-family: 'Elsie', cursive;
>>>>>>> 2cf73db06e4f48a102f1097a5d1dbf42159ec1b3
    font-weight: lighter;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}